.maingrid{
    display: grid;
    grid-template-columns: repeat(10,10vw);
    grid-template-rows:repeat(10,10vh);
    margin:0px
    
}
.header{
    grid-column: 1/11;
    grid-row:1/2;
    background-color: red;
}
.sidebar{
    display: grid;
    grid-column: 1/3;
    grid-row: 2/11;
    background-color: blue;
    grid-template-columns: 100%;
    grid-template-rows: repeat(20,5%);
    
    
}
.sidebar>div{
    background-color: yellow;
    grid-template-columns: 1/2;
    grid-template-rows: 1/2;
    border:3px solid black;
}
.content{
    grid-column: 3 / 11;
    grid-row: 2/ 11;
    background-color: green;
}
*{
    margin: 0px;
    padding:0px;
    box-sizing: border-box;
}
